numpy
pandas
scipy
scikit-learn
tqdm
tensorboard
matplotlib
opencv-python
pillow
timm
fairscale
sentencepiece
transformers==4.41.2
tokenizers==0.19.1
accelerate
safetensors
protobuf
huggingface_hub
einops
pyyaml
h5py
lmdb
